.project,
.task {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.project,
.task h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project,
.task p {
  margin: 5px 0;
}

.tasks-container {
  display: flex;
  justify-content: space-between;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.incomplete-tasks,
.complete-tasks {
  width: 45%;
}

.complete-tasks .task {
  background-color: green;
}